.firstPage{
    background-color: #F9F7FE;
    text-align: center;
    font-family: 'Playfair', serif;
    padding: 80px;
font-weight: 700;}
.firstPage p{
    font-size: 36px;
    
}
.firstPage h1{
font-size: 96px;
}
.firstPage h2{
    font-size: 24px;
    font-weight:400 ;
    padding: 18px 30px;
}
.firstPage button{
    background-color: #6c63ff;
    color: white;
    border-radius: 4px;
    font-size: 22px;
    padding: 15px 30px;
    line-height: 27px;
}
.projectOne{
    padding: 0 10px;
}
.projectOne h2{
font-size: 64px;
font-family: 'Playfair', serif;
text-align: center;
}
.projectOne p{
    font-size: 16px;
    font-family: 'Playfair', serif;
    line-height: 30px;
    }
 .projectOne .btn{
        border-radius: 4px;
        font-size: 15px;
        padding: 10px 20px;
        line-height: 20px;
        border: 2px solid;
        color: #6c63ff;
        
    }
.aboutSection{
        text-align: center;
        padding: 20px;
    }
 .work{
        text-align: center;
        padding: 20px;
    }
.contact{
        background-color: #F9F7FE;
    text-align: center;
    font-family: 'Playfair', serif;
    padding: 90px;
font-weight: 700;}


footer .contactBox{
padding: 30px;
background-color: #F9F7FE;
border-radius: 10px;
}
footer .contactBox h4{
    text-align: center;
    font-size: 48px;
}
footer .contactBox p{
    text-align: center;
    margin: 0;
    font-size: 23px;
}
footer .contactBox a{
    border-radius: 4px;
        font-size: 15px;
        padding: 10px 20px;
        line-height: 20px;
        border: 2px solid;
        color: white;
        background-color: #6c63ff;
}
footer .emailLink{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 20px;
    
}

footer .emailLink:hover{
    color: #6c63ff;
}  
footer .socialLink a{
    margin: 0 20px;
    background: #F9F7FE;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
    color: #6c63ff;
}
footer .socialLink a:hover{
    color: white;
    background-color: #6c63ff;
}
  @media (max-width: 900px) {
    h1 h2{
        font-size: 35px;
        line-height: 2;
    }
    p{
        font-size: 15px;
    }
  }